- hosts: server1
  remote_user: ec2-user
  become: true

  tasks:
    - name: Download jboss-eap-7.4.0.zip
      ansible.builtin.get_url:
        url: https://software-installers-dc.s3.us-west-2.amazonaws.com/jboss-eap-7.4.0.zip
        dest: /home/ec2-user/jboss-eap-7.4.0.zip

    - name: Unzip jboss-eap-7.4.0.zip
      ansible.builtin.unarchive:
        src: /home/ec2-user/jboss-eap-7.4.0.zip
        dest: /home/ec2-user/
        remote_src: yes

    - name: Create jboss user
      command: '/home/ec2-user/jboss-eap-7.4/bin/add-user.sh -u "{{ lookup(''env'', ''JBOSS_CREDENTIALS_USR'') }}" -p "{{ lookup(''env'', ''JBOSS_CREDENTIALS_PSW'') }}"'        