- hosts: server1
  remote_user: ec2-user
  become: true

  tasks:
    - name: Install Git
      yum:
        name: git
        state: latest
    # yum search java
    - name: Install Java
      ansible.builtin.yum:
        name: java-17-amazon-corretto
        state: latest